<div style="background-color:rgb(184, 50, 50); padding-bottom: 1px;">
	<hr style=" margin-top: 0rem; margin-bottom: 0rem;">
</div>

<section class="main" style="background-color: #212121; margin-bottom:0">

	<div id="carouselExampleIndicators" style=" background-color: #212121;  height:25rem" class="carousel slide"
		data-pause="hover" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active" style=" padding: 10%">
				<div>
					<h1 style="color:rgb(161, 15, 15)">Welcome to E-YM</h1>
					<!-- <img class="d-block w-100" src="..." alt="First slide"> -->
					<!-- <em>Teszt slide 1</em> -->
					<div style="background-color:rgb(184, 50, 50);">
						<hr style=" margin-top: 0rem; margin-bottom: 2rem;">
					</div>

					<div style="text-align:center; color:rgb(191,191,191);" >
						<em>You can choose a lot of supply in our site.</em>
						<br>
						<em>Easy, comfortable orderings just for you</em>
					</div>
				</div>
			</div>
			<div class="carousel-item" style="padding: 10%;">
				<div>
					<h1 style="color:rgb(161, 15, 15)">Do you want to eat something?</h1>
					<div style="background-color:rgb(184, 50, 50);">
						<hr style=" margin-top: 0rem; margin-bottom: 2rem;">
					</div>
					<div style="text-align:center; color:rgb(191,191,191);">
						<em>Just click below the button.</em>
						<br>
						<button class="btn btn-primary">Let's start ordering</button>
					</div>
				</div>
			</div>
			<div class="carousel-item" style="padding: 10%;">
				<div>
					<h1 style="color:rgb(161, 15, 15)" >What can you do actually?</h1>
					<div style="background-color:rgb(184, 50, 50);">
						<hr style=" margin-top: 0rem; margin-bottom: 2rem; ">
					</div>
					<div style="text-align:center; color:rgb(191,191,191);">
						<em>Check restaurant meals</em>						
						<br>
						<em>Order to your table/house with your phone</em>						
						<br>
						<em>You can delivery the food</em>
						<br>
						<button class="btn btn-primary">Let's get started</button>
					</div>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>

<section id="cards" style="background-color: #8d8b8b; "> 
    <div class="container">
        <div class="row" >
            <div class="card-column col-lg-4 col-md-6" style="margin-top:3%">
                <div class="card" style="background-color: #303030; color:white" >
                    <div class="card-header" style="background-color: #141414;">
                        <h2 style="color:rgb(161, 15, 15)">Check Restaurants</h2>
                    </div>
                    <div class="card-body">
                        <p>Check our partners</p>
                        <p>Search food</p>
						<p>Check the prices</p>
						<p>-</p>						
                        <!-- //<input type="text" [(ngModel)]="name">
                        <h2 style="color: red">{{name}}</h2> -->
    
                        <button style="color:white; " class="btn  btn-dark btn-block btn-outline-dark" type="button">Find your meal</button>
                    </div>
                </div>
            </div>
    
            <div class="card-column col-lg-4 col-md-6" style="margin-top:3%">
                <div class="card" style="background-color: #303030; color:white" >
                    <div class="card-header" style="background-color: #141414;">
                        <h2 style="color:rgb(161, 15, 15)">Ordering</h2>
                    </div>
                    <div class="card-body">
                        <p>Make your life easier</p>
                        <p>You can find your best prices</p>
                        <p>Order to your table or to your home</p>
                        <p>-</p>

                        <button style="color:white; " class="btn  btn-dark btn-block btn-outline-dark" type="button">Go to the app</button>
                    </div>
                </div>
    
            </div>
            <div class="card-column col-lg-4 col-md-6" style="margin-top:3%">
                <div class="card" style="background-color: #303030; color:white" >
                    <div class="card-header" style="background-color: #141414;">
                        <h2 style="color:rgb(161, 15, 15)">Delivery</h2>
                    </div>
                    <div class="card-body">
                        <p>Easy to use</p>
                        <p>You can be a deliver</p>
                        <p>High security system</p>
                        <p>-</p>

                        <button style="color:white; " class="btn  btn-dark btn-block btn-outline-dark" type="button">Sign up as a deliver</button>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
   
</section>