<div style="padding:5%"></div>
<div class=" footer" style=" background-color: black; ">
    <div class="container" style="padding:0">
        <div class="row">
            <div class="col-sm-6">
                <p>Enjoy your day!</p>
                <p>With this application you can ordering some delicious things.</p>
            </div>
            <div class="col-sm-3">
                <p>Routes</p>
                <ul>
                    <li>Link1</li>
                    <li>Link1</li>

                </ul>
            </div>
            <div class="col-sm-3">
                <p>Contact Us</p>
                <p>Email: eym@eym.com</p>

            </div>
        </div>
    </div>
</div>
