<div class="container-fluid">
    <div class="card-column col-lg-12 col-md-12" style="margin-top:1%; text-align:center;">

        <div class="card-header" style="background-color: black;">

            <div class="row" >
                <div class="card-column col-lg-12 col-md-6" style="margin: 1% 0 1% 0">
                    <div class="card" style="background-color: #303030; color:white; height: 100%;" >
                        <div class="card-header" style="background-color: #141414;">
                            <h2 style="color:rgb(161, 15, 15)">About Us</h2>
                        </div>
                        <div class="card-body" style="text-align:left;">
                            <p>We are a developer team from Hungary. This software is our first big public project.
                                We are a developer team from Hungary. This software is our first big public project.
                            </p>
                            <p>We are a developer team from Hungary. This software is our first big public project.
                                We are a developer team from Hungary. This software is our first big public project.
                            </p>
                            <p>We are a developer team from Hungary. This software is our first big public project.
                                We are a developer team from Hungary. This software is our first big public project.
                            </p>
        
                        </div>
                    </div>
                </div>
        

        
            </div>
        </div>
        
        
    </div>
  
</div>
<div *ngIf="show">
    <h1 style="background-color: aquamarine;">Test</h1>
</div>