<nav class="navbar navbar-expand-lg navbar-light" style=" border:black; background-color: rgb(0, 0, 0);">

    <!-- <a class="navbar-brand" id="header-a" href="/"><b>E-your Menu</b></a> -->
    <a class="navbar-brand" id="header-a" href="/"><img style="height:80px; width:80px;" src="../assets/img/eym.jpg" alt="Eym"></a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span style="background-color: rgb(191,191,191); " class="navbar-toggler-icon"></span>
    </button>
  
    <div  class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul  class="navbar-nav">
        <li class="nav-item active" >
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" href="#">Menus</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" href="#">Restaurants</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" href="#">About</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" href="#">Contact</a>
        </li>
      </ul>
    </div>
    <div style="justify-content: flex-end ; padding-right:20px;" class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul  class="navbar-nav">
        <li class="nav-item">
          <a *ngIf="!_authService.loggedIn()" style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" routerLinkActive="active" routerLink="/login">Login </a>
        </li>
        <li class="nav-item">
          <a  *ngIf="!_authService.loggedIn()" style="color:rgb(191,191,191); padding-left:0; padding-right:0;" class="nav-link" id="header-a">/</a>
        </li>
        <li class="nav-item">
          <a style="color:rgb(161, 15, 15)" class="nav-link" id="header-a" routerLink="/register" routerLinkActive="active" *ngIf="!_authService.loggedIn()"> Register</a>
        </li>
        <li class="nav-item">
            <a  style="color:rgb(161, 15, 15); cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()" class="nav-link">Logout</a>          </li>
      </ul>
    </div>
  </nav>
