<div class="container-fluid">
    <div class="row mt-5 main">
        <div *ngFor="let user of users" class="col-md-4 mb-3">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ user.Username }}</h5>
                    <p class="card-text">{{user.Password}}</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
                <div class="card-footer text-muted">
                    {{user.Reg_date | date:'shortDate'}}
                </div>
            </div>
        </div>
    </div>
</div>
