<div class="container main">
    <div class="row">
        <div class="col-ms-4"  style="margin-top:25%; font-size:1.5em; text-align:center">
                <p>Something wrong!</p>
                <p>Back to the <button (click)="goHome();" style="font-size: 1.4em;" class="btn btn-danger">HOME</button> page.</p>
        </div>
        <div class="col-ms-8" style="margin-top:8%; margin-left:auto ">
            
                <div>
                    <a style="text-align:center; font-size: 12em;">Ooops..</a>
                    <h1 style="font-size:5em; text-align: center">404</h1>
                    <h4 style="font-size:2em; text-align: center">THIS PAGE NOT FOUND</h4>
                </div>
        </div>
    </div>
</div>
